#container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100vw;
    min-height: 100vh;

    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.perfil:hover {
    background-color: gray;
    transition: background-color 0.3s ease;
}



a {
    text-decoration: none;
}

a:link {
    color: #B0B2B5;
}

a:visited {
    color: #82878B;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 300px;
}

.perfil {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.header {
    width: 15em;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1em;
    margin-top: 1em;
}

.google-grid {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.google-grid:hover {
    opacity: .5;
    background-color: gray;
    transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
}

.header>a {
    color: black;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
}


.content * {
    margin-top: 1em;
}

.botones>button {
    margin-left: 1em;
}

.logo {

    object-fit: contain;
}

.search-bar>* {
    margin-top: 0px;
    align-self: center;
    margin-left: 1em;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 40vw;
    min-width: 20em;
    height: 3em;
    border: 1px solid #bdb5b5;
    border-radius: 15px;
    overflow: hidden;
    color: #707070;
}

.search-bar:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.buscador {
    width: 100%;
    border: 0px;
    height: 100%;
}

.buscador:focus {
    outline: none;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F2F2F2;
    max-width: 100vw;

}

.footer>* {
    min-height: 3em;
}

.region {
    color: #82878B;
    display: flex;
    align-items: center;
}

.info {
    margin: 0px 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#pais {
    margin: 0px 2em;
}

.region {
    /* me deja poner una barrita pendeja*/
    border-bottom: 1px solid rgb(122, 116, 116);
}

button {
    background-color: #f5f5f5;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}

button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}

button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}

.info-left>* {
    margin-left: 1em;
}

.info-right>* {
    margin-right: 2em;

}