#container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100vw;
    margin: 0px;
}

.logo {
    width: 300px;
}

.perfil {
    border-radius: 50%;
}

.header {
    width: 13em;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content {
    height: 84vh;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
}


.content * {
    margin-top: 1em;
}

.botones>button {
    margin-left: 1em;
}

.logo {

    object-fit: contain;
}

.search-bar {
    width: 30em;
}

.buscador {
    width: 100%;
}

.footer {

    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F2F2F2;
    max-width: 100vw;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.region {
    /* me deja poner una barrita pendeja*/
    border-bottom: 1px solid rgb(122, 116, 116);
}